@import "materialize";
@import "home";

body {
	background-image: image-url("wood_background.jpeg");
	background-repeat: no-repeat;
	background-position: center;
}

a {
	text-decoration: none;
	color: white;
}

.pic {
	margin-top: 20px;
}

.header {
	margin-top: 40px;
}

.add {
	margin-left: 20px;
}

.forms {
	border: 2px solid black;
	border-radius: 10px;
}

.in_forms {
	padding: 10px;
}

.page-link {
	margin-left: 20px;
}

.space {
	padding-top: 20px;
}

.search {
	border: 1px solid darkblue;
	border-radius: 10px;
	padding: 10px;
}

.help a {
	color: black;
}

.t-border {
	border: 1px solid darkblue;
	border-radius: 10px;
}